* {
    font-family:"Josefin Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }
  body{
    
  }
  .bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter:brightness(0.6);
    position: absolute;
    top: 0; left: 0;
    z-index: -1;

  } 
.card{
    display: flex;

}
.card .card-body h5,p{
    color: white;
}
.container .row-content .col-sm-6 h3{
    margin: 5px;
    padding: 4px;
}
.navbar{
    background: transparent;
    backdrop-filter: blur(10px);
  }
  /* .carousel-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  } */
  .carousel-caption p{
    color: rgb(255, 255, 255);
    
  }
  .col-sm-6 .text-center {
    margin: 60px;
    color: rgb(43, 38, 38);
  }
  .col-sm-6 .text-center{
    margin: 60px;
    /* padding: 5px; */
    color: rgb(32, 26, 26);
  }
  .container .image{
    /* width:80%; */
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
  }
  .container img{
    width: 100%;
    cursor: pointer;
  }
  .container .image img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px black;
  }
  .thumbnail.col-sm-4 p{
    text-transform: capitalize;
    color: #000000;
    margin: 5%;
   
  }
 
  .container-fluid .footer .col-sm-4 h5:hover{
    color:rgb(117, 85, 85);
  }
  
  .container-fluid .footer{
    display: flex;
    background-color: #1f1818;
    color:rgb(255, 255, 255);
    margin: 4px;
    padding: 5px;
  }
  .container-fluid .footer .col-sm-4 h5{
    text-transform: capitalize;
    color: #ffffff;
    margin: 5%;
   
  }
  .container-fluid .footer .col-sm-4 p{
    color: rgb(117, 85, 85);
    margin: 5px;
  }
 